@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/*
font-family: 'Poppins', sans-serif;
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  /*Primary*/
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /*
 Neutral
*/
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  background-color: var(--Very-Light-Gray-Blue);
  color: var(--Very-Dark-Blue);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0%;
}

section {
  padding: 1rem;
}

h1,
h2,
p {
  margin: .5rem auto 0 auto;

}

.flex {
  width: 90%;
  display: flex;
  margin: auto;
  flex-flow: column nowrap;
}

.title {
  margin: auto;
  width: 90%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.title>* {
  width: 100%;
  text-align: center;
}

.title_head_1 {
  font-weight: 200;
}

.title_head_1,
.title_head_2 {
  font-size: 25px;
}

.title_head_2,
.content_head {
  font-weight: 600;
}

.title_para,
.content_para {
  color: var(--Grayish-Blue);
  font-weight: 400;
  line-height: 2.7rem;
}

.title_para {
  margin-top: 1rem;
  font-size: 16px;

}

.container {
  margin: 0 auto;
  width: 100%;
}

.content {
  border-top: 3px;
  border-top-style: solid;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--Very-Light-Gray);
  box-shadow: -1px 1px 1px 1px var(--);
}

.supervisor {
  border-color: var(--Cyan);
}

.builder {
  border-color: var(--Red);
}

.karma {
  border-color: var(--Orange);
}

.calculator {
  border-color: var(--Blue);
}

.content_para {
  color: var(--Grayish-Blue);
}

.image_area {
  position: relative;
}

.content__image {
  position: relative;
}